<div class="wrapper scroll-wrapper">
    <div class="top-text">
    <p class="text-title desktop-view">Sushant</p>
    <p class="text-title desktop-view">Daga</p>
    <p class="text-title mobile-view">Sushant Daga</p>
    <div class="social-icons">
        <a target="_blank" href="https://github.com/SushantDaga">
            <img class="title-logo" src="/assets/images/github.svg">
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/sushant-daga-58a298135/">
            <img class="title-logo" src="/assets/images/linkedin-logo.svg">
        </a>
        <a target="_blank" href="https://twitter.com/daga_sushant">
            <img class="title-logo" src="/assets/images/twitter.svg">
        </a>
    </div>
</div>