<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  <a class="skip-link" href="#main">Skip to content</a>
  {% include nav.html %}
  <main id="main">
    {{ content }}
  </main>
  {% include footer.html %}
  <script src="{{ '/assets/js/main.js' | relative_url }}?v={{ site.time | date: '%s' }}" defer></script>
  <!-- Cloudflare Web Analytics --><script type='module' src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "8fd1a60ed374441f8691d1f313efd605"}'></script><!-- End Cloudflare Web Analytics -->
</body>
</html>
